/*
  Theme Name: Ark
  Author: Daniel Zamorano
*/

@import url("main.css");

html, body {
  background-color: #FFF;
}

.navbar {
  position: relative;
  height: 100px;
  margin-bottom: 45px;
}
.navbar .container,
.container.footer {
    border: none;
    border-color: #b9b9b9;
    border-style: solid;
}
.container.footer {
    border-width: 1px 0 0 0;
    margin-top: 30px;
}
.navbar .container {
    height: 100px;
    border-width: 0 0 1px 0;

}
.navbar-header {
  padding: 0;
}
.navbar .brand,
.navbar-header h2 {
  height: 90px;
}
.navbar-header h2 {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  font-size: 30px;
  color: #404040;
}
/* vertical align */
.navbar-header h2 span {
  /*position: relative;*/
  top: 50%;
  transform: translateY(-50%);
}
.navbar .collapse {
  padding: 5px;
  float: right;
  margin-top: 9px;
}
.navbar-nav.navbar-right:last-child {
    padding: 5px;
}
.ark-theme .navbar-inverse .navbar-nav li.active > a,
.ark-theme .navbar-inverse .navbar-nav li.active > a:focus,
.ark-theme .navbar-nav.navbar-right li > a:hover,
.navbar-inverse .navbar-nav > .open > a {
  background-color: inherit;
  border: 0;
  color: #fff;
  background: #A5732A;
}

.ark-theme .navbar-inverse .navbar-nav li a:hover {
  color: #fff;
}

.ark-theme .nav.navbar-nav > li:hover > ul.sub-menu {
  display: block;
  -webkit-animation: fadeInUp 400ms;
  animation: fadeInUp 400ms;
}
.ark-theme ul.sub-menu {
  position: absolute;
  top: 40px;
  left: 0;
  background: #fff;
  padding: 10px 0;
  width: 240px;
  box-shadow: none;
  display: none;
  z-index: 999;
  border: 1px solid #dab074;
}

.ark-theme .nav.navbar-nav .dropdown.session-dropdown i {
  margin-right: 5px;
}

/*@media only screen and (min-width: 768px)*/
.ark-theme .navbar-nav li ul.sub-menu li a {
  color: #818285;
  padding: 5px 0;
  font-size: 13px;
  display: block;
  text-transform: capitalize;
}
.ark-theme .navbar-nav.navbar-right > li a {
  color: #000;
  font-size: 12px;
  padding: 10px 15px;
  text-transform: uppercase;
  font-weight: 300;
}
.ark-theme .navbar-nav li ul.sub-menu li a {
  padding-left: 20px;
}
.ark-theme .navbar-nav.navbar-right > li > a {
  color: #000;
  font-size: 12px;
  text-transform: uppercase;
  font-weight: 300;
}
.ark-theme .navbar-nav li ul.sub-menu li a:hover,
.ark-theme .navbar-nav li ul.sub-menu li a:focus {
  background: #fef7ee;
  color: #d29948;
}
.navbar .brand {
  padding: 0 5px;
  width: 90px;
  position: relative;
  display: inline-block;
  float: left;
  margin-right: 10px;
}
.navbar .brand img {
  width: 100%;
}
.error-page-404 .error-code {
    font-size: 12em;
    line-height: 1em;
    color: #d29948;
}
.error-page-404 .error-message {
    font-size: 1.5em;
    color: #666;
}

footer {
  color: #404040;
  font-size: 18px;
  line-height: 27px;
  padding: 10px;
}

footer p.copy {
  font-size: 14px;
  color: #888;
}
footer p.copy em {
  text-transform: uppercase;
  font-style: normal;
}
footer p.copy .twitter {
  font-size: 14px;
}

/* article "Simple" template */
.article-header,
.simple-template .article_body {
  padding: 10px 20px;
}
.simple-template .wrapper {
  background-color: #f9f9f9;
  padding: 30px;
}
.simple-template .article-header h1 {
  color: #0E76BC;
}
.simple-template .article_body {
  color: #000;
  text-align: justify;
  font-size: 16px;
}
.simple-template .article_body ul li {
  list-style-type: circle;
}
.simple-template .article-header h2,
.simple-template .article_body h3,
.simple-template .article_body h4,
.simple-template .article_body h5,
.simple-template .article_body h6 {
  color: #A5732A;
  font-weight: bold;
}
.simple-template .article-header h2 {
  font-weight: normal;
}
.simple-template .article_body ul {
  list-style-type: circle;
}
