^tmp_head^
<div class="row-fluid error-page-404">
    <div class="container" style="margin-top: .5em">
        <div class="col-md-4 col-md-offset-4" style="text-align: center">
            <div class="error-code"><b>404</b></div>
            <div class="error-message">^loc_PAGE_NOT_FOUND^</div>
        </div>
    </div>
</div>
^tmp_footer^
