<div id="article_^article_id^" class="article simple-template" article-index="^article_index^">
    <div class="wrapper col-md-10 col-md-offset-1">
        <div class="article-header">
            <h1>^article_headline_nolink^</h1>
            <h2>^article_subheading^</h2>
        </div>
        <div class="article_body">
            ^tmp_elements=article=byline^
            <div class="timestamp" style="^article_timestamp_display^">^article_timestamp^</div>
            ^article_layout^
        </div>
        ^comments^
        <div class="spacer"></div>
    </div>
</div>

