<div class="navbar navbar-inverse navbar-fixed-top top-menu">
  <div class="container">
    <div class="navbar-header col-md-12">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="brand" href="/page/welcome">
        <img src="^site_logo^"></img>
      </a>
      <h2>
        <span class="site-name">^site_name^</span> <br/>
      </h2>
    </div>
    <div class="navbar-collapse collapse col-md-12">
      <ul class="nav navbar-nav navbar-right">
        ^navigation^
      </ul>
    </div><!--/.nav-collapse -->
  </div>
</div>
