<li class="session-dropdown dropdown">
    <a href="#">
      ^user_name^&nbsp;<i class="fa fa-angle-down"></i>
    </a>
    <ul role="menu" class="sub-menu">
      ^admin^
      <li class="divider"></li>
      <li><a href="/actions/logout" class="logout"><i class="fa fa-power-off"></i>logout</a></li>
    </ul>
</li>
