                <div class="container footer">
                    <footer class="col-md-12">
                        <p class="copy">
                            Ark theme for pencilblue <br/>
                            <em>&copy; ^year^ Daniel Zamorano</em>
                            <a class="twitter" href="https://twitter.com/danielzm">&lt;@danielzm&gt;</a>
                        </p>
                    </footer>
                </div>
            </div>
        </div>
    </body>
</html>
