^tmp_user=head^
        <div class="container">
            <div class="row">
                <div class="col-md-4 col-md-offset-4">
                    <div id="login_logo">
                        <img src="^site_logo^"></img>
                    </div>
                    ^error_success^
                    <div class="panel panel-default">
                        <div class="panel-heading">^loc_LOGIN^ </div>
                        <div class="panel-body">
                            <form id="login_form" method="post" action="/actions/login">
                                <fieldset>
                                    <div class="form-group">
                                        <label>^loc_USERNAME_OR_EMAIL^</label>
                                        <input type="text" id="username" name="username" class="form-control" autofocus="true" onkeyup="checkForLogin(event)"></input>
                                    </div>
                                    <div class="form-group">
                                        <label>^loc_PASSWORD^</label>
                                        <input type="password" id="password" name="password" class="form-control" onkeyup="checkForLogin(event)"></input>
                                    </div>
                                    <input type="button" class="btn btn-lg btn-primary btn-block" value="^loc_LOGIN^" onclick="login()">
                                    <div class="forgot_password">
                                        <a href="javascript:forgotPassword()">I forgot my password</a>
                                    </div>
                                </fieldset>
                            </form>
                        </div>
                    </div>
                    <div style="text-align: right">
                        <a href="^site_root^"><i class="fa fa-angle-double-left"></i>&nbsp;^loc_BACK_HOME^</a>
                    </div>
                </div>
            </div>
        </div>
        <script type="text/javascript" src="/js/user/login.js"></script>
    </body>
</html>
